[SddmGreeterTheme]
Name=forest-sddm-theme
Description=sddm-theme
Type=sddm-theme
ConfigFile=Themes/forest.conf
MainScript=Main.qml
Theme-Id=forest-sddm-theme
QtVersion=6
